/* Changes the background image for the every body element */
body{
    background-image: url('../images/pastel.jpg');
}

/* Changes the size, placement, and adds a border for every <img> element */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 500px;
    border-radius: 50px;
    border: 6px double black;
    float: left;
    position: relative;
    margin-top: 70px;
}
.productImg{
    width: 300px;
}
.titles{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    right: -10px;
    font-family: cursive;
}
/* Changes the font, placement, and moves the text to the right 10 pixels  */
figcaption{
    align-items: right;
    font-family: cursive;
    position: relative;
    right: -10px;
}
.gallery {
    height: fit-content;
    width: fit-content;
    display: contents;
}

/* custom class for resume image to make it go to the right and smaller */
.resumeOnePicture{
    float: left;
    width: 500px;
    height: auto;
}

/* custom class for resume image to make it go to the left and smaller */
.resumetwoPicture{
    float: left;
    width: 500px;
    height: auto;
}

/* custom class for resume image to make it go to the left and smaller */
.resumeThreePicture{
    float: left;
    width: 465px;
    height: auto;
}


/* custom class for navbar that when added, changes teh colour and position to make 
it fixed */
.myNavbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* custom class to make the text on the home page centered and a different font */
.homeText{
    font-family: cursive;
    text-align: center;
    margin: 250px;
}

/* custom class to make the text on the product page a different font and positioned */
.productText{
    font-family: cursive;
    margin: 500px;
}

/* custom class to make the text on the service page a different font and positioned */
.serviceText{
    font-family: cursive;
    position: absolute;
}

/* custom class to make the text on the about page a different font and positioned */
.aboutText{
    font-family: cursive;
    bottom: 10px;
    width: 50%;
}

/* CSS from Registration modal on https: //mdbootstrap.com/docs/standard/extended/registration/  */
/* (For the Register Button)  */
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

#btnDivToggle,
#btnRegReset,
#btnRegSubmit,
#btnRegReset{
    border-radius: 10px;
    background-color: #aaa;
    color: #212529;
    line-height: 1.5;
    padding: 5px;
    margin: 5px;
    min-width: 125px;
    font-size: 16px;
    display: inline;
}

.toggleDiv{
    height: 50px;
}
  
.toggleShow{
    display: block;
}
  
.toggleHide{
    display: none;
}

/* changes all the error messages with these id's to have a red background */
#errorMessage,
#errorMessage2,
#errorMessage3,
#errorMessage4,
#errorMessage5
{
    background-color: #ffcccb;
}