{{#each users}}
    <div class="card card-body mb-2">
        <h4>{{fullName}}</h4>
        <p>{{email}}</p>
        <a href="/edit-user/{{_id}}" class="btn btn-dark btn-block">Edit User</a>
    </div>
{{else}}
    <p>No Users</p>
{{/each}}